<header>
    <nav>
        <a href="/">LAC</a>
    </nav>
    <ul>
        <li><a href="/descriptions">Descriptions</a></li>
        <li><a href="/descriptions/new">Add Description</a></li>
    </ul>
</header>