<h2>Edit Descriptions</h2>

<div>Edit description</div>
<form action = "/descriptions" method = "POST">
    <label >Name</label>
    <input type="text" name="name">
    <button type="submit">Update</button> 
</form>
<% if (locals.descriptionMessage !=null) { %>
    <%= descriptionMessage.message %>
<% } else {%>
    INFO: Insert a description name. Tries to standardize the item's descriptions to limit the number as much as possible
<% } %>
