<h2>Descriptions</h2>

<div>Add description</div>
<form action = "/descriptions" method = "POST">
    <label >Name</label>
    <input type="text" name="name">
    <button type="submit">Add</button> 
</form>
<% if (locals.descriptionMessage !=null) { %>
    <%= descriptionMessage %>
<% } else {%>
    INFO: Insert a description name (tries to standardize the item's descriptions to limit the number as much as possible
<% } %>
<br><br>
<div>Descriptions list</div>
<form action="/descriptions" method="GET">
    <label>Filter by Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>" onchange="this.form.submit()">
    <!-- <button type="submit">Filter</button> -->
</form>
<% descriptions.forEach(description => { %>
    <div><%= description.name %></div>
<% }); %>