h1 {
    text-align: center;
}
.subtitle {
    text-align: center;
}
ul{
    text-align: center;
}
li {
    display: inline;
}
#indexStep2{
    display: none;
}
iframe{
    visibility: hidden;
}
#newProfileStep2{
    visibility: hidden;
}